html, body {

  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Schoolbell', cursive;
}

#container {
  text-align: center;
  min-height: 100%;
  position: relative;
}

#fb-login {

  margin: 50px auto;
  background: #F3F3F3;
  width: 350px;
  padding: 20px;
  border-radius: 4px;
}

#header {
   padding: 30px 10px;
       background: #F64240;
       color: white;

  height: 300px;
}

#header,
#header h1,
#header h2,
#header #countdown {

  transition: all 600ms;
}

#header.shorten {

  height: 80px;
}

#header.shorten h1 {

  margin: 0;
  line-height: auto;
  font-size: 40px;
}

#header.shorten h2,
#header.shorten #countdown {

  /* height: 0; */
  /* overflow: hidden; */
}

#header h1 {

  background: transparent;
  line-height: 100px;
  font-family: 'Over the Rainbow', cursive;
  font-size: 50px;

}

#header h2 {
  background: transparent;

}

#body {
   padding:10px;
   padding-bottom:100px;   /* Height of the footer */
}

#body #intro {

  margin: 30px 0 50px 0;
}

#body h3 {

  padding: 20px 0 5px 0;
  border-bottom: 1px solid black;
  width: 250px;
  margin: 10px auto;
}

#container #countdown {
     width:100%;
     height:80px;   /* Height of the footer */
     color: white;
     font-weight: bolder;
     font-family: 'Amatic SC', cursive;
     font-size: 25px;
     letter-spacing: 2px;
}

#countdown-numbers {

  font-size: 36px;
}


.section-links {

  background: transparent;
  margin: 30px 0 50px;

}

.section-links li {

  background: transparent;
      display: inline-block;
      margin: 0 20px;
      background: #FEDE32;
      padding: 7px 15px;
      border-radius: 10px;
      cursor: pointer;
      border-left: 10px solid #FEDE32;
      font-size: 24px;

}

.section-links li.selected {

    border-left: 10px solid red;
}

.section-links li:after {

  content: '->';
  position: relative;
  right: -45px;
}

.section-links li:last-child:after {

  content: '';
}

.section-contents {

  background: transparent;
  overflow: hidden;
  transition: all 600ms;
}

.section-contents div {

  background: transparent;
  padding: 20px 100px;
  width: 80%;
  text-align: center;
  margin: 30px auto;
  font-size: 25px;
  line-height: 55px;
}

#player1 {

  display: block;
  margin: 10px auto;
}

.buttons {
  background: transparent;

}

.buttons button {
  background: transparent;


}

#recordingslist {
  background: transparent;

}

#recordingslist > div {

  background: transparent;
  padding: 15px;
  background: aliceblue;
  width: 400px;
  margin: 0 auto;
  border-radius: 10px;

}

#recordingslist > div:before {

  content: 'if you are happy with this, click on the Save Button';
  display: inline-block;
  margin-bottom: 30px;
}

#saved-list {
  background: transparent;
  margin: 30px 0;
  margin-bottom: 100px;
}

#saved-list span:first-child {
  display: inline-block;
  height: 42px;
  vertical-align: top;
  line-height: 42px;
}

#saved-list div {
  background: transparent;
  display: inline-block;
  margin: 0 10px;


}

#saved-list > div > span {
    display: inline-block;
    padding: 10px;
    vertical-align: super;
    }

#recordingslist {
    margin: 30px 0;
}